.body {
    padding: 10px;
    height: 100vh;
  }
  h2 {
    margin-top: 0;
    text-align: center;
  }
  .header,
  .footer {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: rgb(43, 47, 38);
    background-color: rgb(71, 124, 165);
  }
  
  .main {
    overflow: hidden;
    padding-bottom: 10px;
    background: linear-gradient(
        rgba(250, 250, 250, 0.5),
        rgba(250, 250, 250, 0.5)
      ),
      url(2.png) repeat-y right top;
    background-size: 60px;
  }
  
  .menu {
    width: 300px;
    float: left;
    background-color: rgb(190, 180, 220);
    padding-bottom: 500em;
    margin-bottom: -500em;
  }
  .menu ul li {
    margin-bottom: 10px;
  }
  
  .content {
    margin-left: 300px;
    padding: 20px;
    vertical-align: top;
    overflow-x: auto;
    overflow: hidden;
  }
  .content img {
    float: left;
    padding: 20px;
  }
  
  .footer {
    clear: both;
  }
  