* {
    box-sizing: border-box;
}

.img-wrapper {
    position: relative;
    height: 10px;
    width: 400px;
    margin: 0 auto;
}

.img-wrapper>img {
    position: absolute;
    cursor: pointer;
}

.img-wrapper>img:nth-child(1) {
    top: 0;
    left: 0;
}

.img-wrapper>img:nth-child(2) {
    top: 0;
    left: 200px;
}

.img-wrapper>img:nth-child(3) {
    top: 60px;
    left: 60px;
    z-index: 1;
}

.img-wrapper>img:nth-child(4) {
    top: 200px;
    left: 90px;
}

.img-wrapper>img:hover {
    z-index: 2;
}