table {
    border-collapse: collapse;
  }

  table td {
    width: 50px;
    height: 50px;
    border: solid gray 1px;
  }

  table tr:nth-child(odd) td:nth-child(even),
  tr:nth-child(even) td:nth-child(odd) {
    background: black;
  }

  table tr:nth-child(even) td:nth-child(even),
  table tr:nth-child(odd) td:nth-child(odd) {
    background: white;
  }

  table tr:first-child td:nth-child(even),
  table tr:first-child td:nth-child(odd),
  table tr:last-child td:nth-child(even),
  table tr:last-child td:nth-child(odd),
  table tr:nth-child(odd) td:first-child,
  table tr:nth-child(even) td:first-child,
  table tr:nth-child(odd) td:last-child,
  table tr:nth-child(even) td:last-child {
    background: rgb(0, 98, 158);
    width: 5px;
    height: 5px;
  }