.clearfix:after{ 
    content: ""; 
    display: block; 
    clear: both 
}
.upanddown {
    font-size: 20px; 
    font-weight: bold; 
    color: blue; 
    text-align: center; 
    background-color: aqua; 
    height: 50px; 
    padding-top: 25px;
}
.background {background:url(img/ball.gif) repeat-y top right,
                        url(img/желтый\ фон.png) repeat-y left;
}
h3{
    text-align: center; 
    font-weight: bold;
    margin: 0px;
    font-size: 24px;
}
.menu{
    float: left; 
    width: 200px;
}
img{
    float: left;
}
p{
    margin-left: 210px;
}